.alert
  padding: 20px

  h2,
  h3
    margin: 0 0 10px

  ul,
  ol
    margin: 0

  p:last-of-type
    margin-bottom: 0

  &.alert-info
    background: $brand-color-primary
    border-color: $brand-color-secondary
    color: $color-white

    pre,
    code
      background: $alert-dark

  &.alert-info a
    color: $color-white
    text-decoration: underline

  &.alert-info a:hover
    color: $color-white

  &.alert-steps
    border: 3px solid #ddd
    margin-top: 40px
    padding: 30px

  &.alert-list
    padding: 0

    ul
      list-style: none
      padding: 0

    li
      padding: 15px 20px

      &:nth-child(even)
        background: #e2e2e2
